* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  background-image: url("./assets/stars/star1.png"), url("./assets/stars/star2.png"), url("./assets/stars/star3.png");
}
.App {
  width: 800px;
  margin: 30px auto;
}