* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  background-image: url("./assets/stars/star1.png"), url("./assets/stars/star2.png"), url("./assets/stars/star3.png");
}
.App {
  width: 800px;
  margin: 30px auto;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.form__input {
  width: 600px;
  font-size: 17px;
  padding: 16px 20px;
  border-radius: 10px;
  outline: none;
}
.form__btn, .btn {
  font-size: 17px;
  padding: 11px 21px;
  border-radius: 10px;
  margin-left: 1em;
}
.encyclopedia__character {
  background-color: #090a0b;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-left: 2px solid #ff9700;
}
.encyclopedia__character__name {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}
.encyclopedia__character__name:hover {
  text-decoration: underline;
  color: #9f9f9f;
}
.encyclopedia__character h5 {
  font-size: 18px;
}
.encyclopedia__character span {
  font-weight: 400;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.btn {
  margin: 10px 10px 0;
  cursor: pointer;
}